body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
pre,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    z-index: -10000;
    min-width: 1043px;
    background: #fff;
    padding-top: 70px
}

.article-list-container .article-list.article-list.article-list .article-list-item:hover .info .title,
a {
    color: #00a6ed
}

button {
    border-radius: 0
}

a {
    text-decoration: none
}

.article-list-container .article-list-section>.title:hover a,
.article-list-container .horizontal-article-list-container .article-list-item:hover .info .title,
a:hover {
    color: #00b6ff
}

li {
    list-style: none
}

img {
    vertical-align: middle;
    border: 0;
    color: #ccc
}

button {
    outline: 0
}

.clear {
    clear: both;
    overflow: hidden
}

.article-list-container-news .popular-article-list .date,
.article-list-container-news .popular-article-list .desc,
.share-hide {
    display: none
}

.article-list-container-news .popular-article-list .article-list-item:nth-child(n+3) {
    margin-top: 8px
}

.article-list-container-news .popular-article-list .article-image-link img {
    width: 100%;
    background-color: #f8f9fa
}

.article-image-link {
    position: relative;
    flex-shrink: 0
}

.article-image-link>img {
    border-radius: 4px;
    object-fit: cover
}

.article-list-container .horizontal-article-list-container,
.article-list-item .info,
.horizontal-container {
    overflow: hidden
}

.article-list-container {
    margin: auto;
    width: 1100px
}

.article-list-container h1,
.article-list-container h2,
.article-list-container h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4b4b4b
}

.article-list-container .article-list.article-list.article-list .article-list-item:hover,
.article-list-container .horizontal-article-list-container .article-list-item:hover {
    opacity: .9
}

.article-list-container .article-list-section,
.article-list-container .popular-container {
    margin-top: 16px
}

.article-list-container .article-list-section .article-list {
    margin-top: 12px
}

.article-list-container .article-list-section>.title {
    position: relative;
    cursor: pointer
}

.article-list-container .article-list-section>.title a {
    color: #4b4b4b
}

.article-list-container .article-list-section>.title a::after {
    content: " ";
    display: inline-block;
    align-self: center;
    width: 6px;
    height: 6px;
    border: 2px solid #4b4b4b;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    flex-shrink: 0;
    margin: 0 8px 3px
}

.article-list-container .article-list-section>.title:hover a::after {
    border-color: #00b6ff
}

.article-list-container .article-list-section>h4.title a::after {
    margin-bottom: 2px
}

.article-list-container .popular-container>.desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777
}

.article-list-container .horizontal-article-list-wrapper {
    position: relative
}

.article-list-container .horizontal-article-list-container .horizontal-article-list {
    display: flex
}

.article-list-container .horizontal-article-list-container .article-list-item {
    max-width: calc(25% - 5px);
    margin-right: 8px;
    flex-shrink: 0;
    background: #f8f9fa;
    border-radius: 4px;
    overflow: hidden
}

.article-list-container .horizontal-article-list-container .article-list-item>a {
    width: 100%;
    height: 0;
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    overflow: hidden
}

.article-list-container .horizontal-article-list-container .article-list-item img {
    position: absolute;
    width: 100%;
    height: 100%
}

.article-list-container .horizontal-article-list-container .info {
    padding: 8px
}

.article-list-container .horizontal-article-list-container .info .title {
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #4b4b4b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.article-list-container .horizontal-article-list-container .info .tags {
    margin-top: 8px;
    width: 100%;
    height: 18px;
    overflow: hidden;
    word-break: break-all
}

.article-list-container .horizontal-article-list-container .info .tags .tag {
    padding: 2px 8px;
    background: rgba(250, 139, 22, .1);
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #fa8b16;
    margin-right: 8px;
    margin-top: 4px
}

.article-list-container .horizontal-article-list-container .swiper-button-next,
.article-list-container .horizontal-article-list-container .swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    outline: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    border-radius: 50%;
    cursor: pointer
}

.article-list-container .horizontal-article-list-container .swiper-button-next::before,
.article-list-container .horizontal-article-list-container .swiper-button-prev::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-color: #8b8b8b;
    border-width: 1.8px;
    transform: translate(-50%, -50%) rotate(45deg)
}

.article-list-container .horizontal-article-list-container .swiper-button-next::before {
    border-top-style: solid;
    border-right-style: solid;
    margin-left: -2px
}

.article-list-container .horizontal-article-list-container .swiper-button-prev::before {
    border-left-style: solid;
    border-bottom-style: solid;
    margin-left: 2px
}

.article-list-container .horizontal-article-list-container .swiper-button-prev {
    left: 0
}

.article-list-container .horizontal-article-list-container .swiper-button-next {
    right: 0
}

.article-list-container .article-list-container-bottom .latest-container {
    flex: 1;
    max-width: calc(100% - 360px)
}

.article-list-container .article-list-container-bottom .side-container {
    flex-shrink: 0;
    margin-left: 24px;
    width: auto
}

.article-list-container-bottom .latest-container {
    padding-right: 0
}

.article-list-container-bottom .side-container {
    padding-left: 0
}

.article-list-container .article-list-container-bottom {
    display: flex;
    display: flex;
    flex-direction: column-reverse
}

.article-list-container .article-list-container-bottom .side-container.empty {
    border: none
}

.article-list-section>.title a::after {
    position: absolute;
    right: 0;
    top: 10px
}

.article-list-container-news .popular-article-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px
}

.article-list-container-news .popular-article-list .article-list-item:first-child {
    flex: 0 0 66.667%;
    height: 0;
    padding-bottom: 30%
}

.article-list-container-news .popular-article-list .article-list-item:nth-child(2) {
    height: 0;
    padding-bottom: 30%
}

.article-list-container-news .popular-article-list .article-list-item:nth-child(2) .article-image-link img {
    height: 100%;
    width: auto
}

.article-list-container-news .popular-article-list .article-list-item {
    width: 33.333%;
    overflow: hidden;
    position: relative;
    padding-bottom: 18.75%;
    border-radius: 4px
}

.article-list-container-news .popular-article-list .article-image-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden
}

.article-list-container-news .popular-article-list .article-image-link::before {
    content: "";
    width: auto;
    position: absolute;
    height: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 100%)
}

.article-list-container-news .popular-article-list .title {
    position: absolute;
    z-index: 3;
    left: 18px;
    right: 18px;
    bottom: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: normal;
    overflow: hidden
}

.article-list-container-news .latest-article-list .article-list-item {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #f3f3f3
}

.article-list-container-news .latest-article-list .article-list-item:first-child {
    padding-top: 0
}

.article-list-container-news .latest-article-list .article-list-item .article-image-link {
    display: block;
    position: relative;
    width: 160px;
    height: 90px;
    border-radius: 4px;
    overflow: hidden
}

.article-list-container-news .latest-article-list .article-list-item .article-image-link img {
    width: 100%;
    height: 100%
}

.article-list-container-news .latest-article-list .article-list-item .info {
    padding: 0 16px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: column
}

.article-list-container-news .latest-article-list .article-list-item .info .date {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #00a6ed
}

.article-list-container-news .latest-article-list .article-list-item .info .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-height: 48px;
    color: #4b4b4b;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: normal
}

.article-list-container-news .latest-article-list .article-list-item .info .desc {
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #8b8b8b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}